
<header id='include_header'>

  <title>{{ page.title }}</title>
  <style>
    img.half {
      height: 10%;
      width: 20%
    }
  </style>
  <!-- <link rel="stylesheet" href="/assets/css/theme.css" type="text/css" /> -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/pygments.css" type="text/css" />
    
    <!-- <link rel="stylesheet" href="/assets/css/fb.css" type="text/css" /> -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/dialogzone.css" type="text/css" />

    <script src="{{ site.url }}/assets/jquery/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    <nav class="navbar navbar-expand-lg fixed-top" id="navbar">
    <div class="container">
      <img class='half' src='assets/images/ms_logo.gif' alt="Microsoft Research">
      <!--         <a class="navbar-brand" href="index.html">Microsoft Research</a>         -->
      <img class='half' src='assets/images/tsinghua_logo.gif' alt="Tsinghua University">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Get Start</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="https://blpeng1991.github.io/DialogueZoneDocs/">Tutorial</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="https://blpeng1991.github.io/DialogueZoneDocs/">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="maito:">Contact</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>



