<!doctype html>
<html>
   {% include header.html %}
  <body>
    <div class="topcover">
<div class="container">
  <div class="row">
    <div class="col-md-12">

        <h1 id="appTitle"><font size='+8'> ConvLab</font> </h1>
        <h2 id="appSubtitle"> <font size='+2'> DSTC8 Track 1: Multi-Domain End-to-End Dialog Challenge </font></h2>

    </div>
  </div>
</div>
</div>

<div class="cover" id="contentCover">
  <div class="container">
    <div class="row">
      <div class="col-md-13">
        <div class="infoCard">
          <div class="infoBody">
            <div class="infoHeadline">
              <h2><a href="https://github.com/ConvLab/ConvLab" style="color: #023b5c""> ConvLab </a></h2>
              <p> ConvLab is an open-source multidomain end-to-end dialog system platform,
                that enables researchers to quickly set up experiments with reusable components and compare a large set of different approaches, ranging from conventional pipeline systems to endto-end neural models, in common environments. </p>
            </div>
            <button class="btn2 actionBtn" onclick="location.href='https://github.com/ConvLab/ConvLab'" type="button">
              ConvLab GitHub</button>
            <button class="btn2 actionBtn" onclick="location.href='https://arxiv.org/abs/1904.08637'" type="button">
                ConvLab Paper</button>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-13">
            <div class="infoCard">
              <div class="infoBody">
                <div class="infoHeadline">
                  <h2>Automatic Evaluation Leaderboard</h2>
                </div>
                <!-- <table class="table borderless performance">
                  <tbody>
                    <tr>
                      <th>Rank</th>
                      <th>Agent</th>
                      <th>Success Rate</th>
                      <th>Human Rating</th>
                    </tr>
                    <tr class="human-row">
                      <td>1</td>
                      <td>Human Agent <br>Microsoft</td>
                      <td>100</td>
                      <td>10</td>                      
                    </tr>
                    {% for res in site.data.rank %}
                    <tr>
                      <td>{{res.rank}}  </td>
                      <td> {{res.model}} </td>
                      <td> {{res.successrate}} </td>
                      <td> {{res.humanrating}} </td>
                    <tr>
                      {% endfor %}
                  </tbody>
                </table> -->
                <table class="table borderless performance">
                    <tbody>
                      <tr>
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Submission ID</th>
                        <th>Spec</th>
                        <th>Success Rate</th>
                        <th>Return</th>
                        <th>Turns</th>
                        <th>Precision</th>
                        <th>Recall</th>
                        <th>F1</th>
                        <th>Book Rate</th>
                      </tr>
                      {% for res in site.data.autoeval %}
                      <tr>
                        <td>{{res.Rank}}  </td>
                        <td> {{res.Team}} </td>
                        <td> {{res.SubmissionID}} </td>
                        <td> {{res.Spec}} </td>
                        <td>{{res.SuccessRate}}  </td>
                        <td> {{res.Return}} </td>
                        <td> {{res.Turns}} </td>
                        <td> {{res.Precision}} </td>
                        <td>{{res.Recall}}  </td>
                        <td> {{res.F1}} </td>
                        <td> {{res.BookRate}} </td>
                      <tr>
                        {% endfor %}
                    </tbody>
                  </table>



              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </body>
  {% include footer.html %}
</html>